interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B16194895842?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "PhoneNumberNotFound", "message": "The specified
        phone number +16194895842 cannot be found.", "target": "phonenumber"}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - Ga/SBEjZoU2YnVz2yfTphw.0
      x-processing-time:
      - 583ms
    status:
      code: 404
      message: Not Found
version: 1
