interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "16194895581", "phoneNumber": "+16194895581",
        "countryCode": "US", "phoneNumberType": "Geographic", "capabilities": {"calling":
        "outbound", "sms": "none"}, "assignmentType": "User", "callbackUri": null,
        "applicationId": null}, {"id": "16194895593", "phoneNumber": "+16194895593",
        "countryCode": "US", "phoneNumberType": "Geographic", "capabilities": {"calling":
        "outbound", "sms": "none"}, "assignmentType": "User", "callbackUri": null,
        "applicationId": null}, {"id": "18332143261", "phoneNumber": "+18332143261",
        "countryCode": "US", "phoneNumberType": "TollFree", "capabilities": {"calling":
        "inbound+outbound", "sms": "inbound+outbound"}, "assignmentType": "Application",
        "callbackUri": null, "applicationId": null}, {"id": "18443281555", "phoneNumber":
        "+18443281555", "countryCode": "US", "phoneNumberType": "TollFree", "capabilities":
        {"calling": "none", "sms": "inbound+outbound"}, "assignmentType": "Application",
        "callbackUri": null, "applicationId": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DbyE8JAXGkmoO8K7mM4j6g.0
      x-processing-time:
      - 946ms
    status:
      code: 200
      message: OK
version: 1
