interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "outbound", "sms": "none"}, "areaCode": "833", "quantity": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/~search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - QUsLw/E7DkqoSKt2pIMePw.0
      x-processing-time:
      - 3ms
    status:
      code: 404
      message: Not Found
version: 1
